$material-light: (
  'background': rgb(0, 0, 0)
);

/*
   색상
   ========================================================================== */


$gray: #7a8288 !default;
$dark-gray: mix(#000, $gray, 50%) !default;
$darker-gray: mix(#000, $gray, 60%) !default;
$deep-gray: mix(#000, $gray, 75%) !default;
$light-gray: mix(#fff, $gray, 50%) !default;
$lighter-gray: mix(#fff, $gray, 90%) !default;

$background-color: rgb(0, 0, 0) !default;
$code-background-color: #e5ebf3 !default;
$code-background-color-dark: $light-gray !default;
$text-color: $lighter-gray !default;
$muted-text-color: mix(#fff, $text-color, 20%) !default;
$border-color: $lighter-gray !default;
$form-background-color: $lighter-gray !default;
$footer-background-color: $lighter-gray !default;

$primary-color: #5B1BAC !default;
$success-color: #3fa63f !default;
$warning-color: #d67f05 !default;
$danger-color: #ee5f5b !default;
$info-color: #4A80C0 !default;
$focus-color: $primary-color !default;
$active-color: mix(#fff, $primary-color, 80%) !default;